<div class="container mt-4">
  <h2>Registro de Ventas</h2>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="registrarVenta()">
          <div class="mb-3">
              <label for="producto" class="form-label">Producto</label>
              <select class="form-select" id="producto" [(ngModel)]="selectedProduct" name="producto">
                @for (producto of productos; track $index) {
                  <option [value]="producto.id">{{ producto.name }}</option>
                }
              </select>
          </div>
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" [(ngModel)]="cantidadProducto" name="cantidad" required>
          </div>
          <button type="button" class="btn btn-secondary" (click)="agregarProducto()">Agregar Producto</button>
          <div class="mt-3">
            <label for="total" class="form-label">Total</label>
            <input type="text" class="form-control" id="total" [value]="venta.total | currency" disabled>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Registrar Venta</button>
      </form>
    </div>

    <div class="col">
      <h5 class="mt-4">Productos en la Venta</h5>
      <table class="table mt-3">
          <thead>
              <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              @for (item of venta.saleItems; track $index) {
                <tr>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.product.price * item.quantity | currency }}</td>
                  <td>
                      <button class="btn btn-danger" (click)="eliminarProducto($index)">Eliminar</button>
                  </td>
              </tr>
              }
          </tbody>
      </table>
    </div>
  </div>




  <br>
  <br>
  <h3 class="mt-4">Historial de Ventas</h3>
  <table class="table mt-3">
      <thead>
          <tr>
              <th>Fecha</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          @for (v of ventas; track $index) {
            <tr>
              <td>{{ v.saleDate | date:'medium' }}</td>
              <td>{{ v.quantity}}</td>
              <td>{{ v.total | currency }}</td>
              <td>
                  <!--<button class="btn btn-info" (click)="editarVenta(v)">Editar</button>
                  <button class="btn btn-danger ms-1" (click)="eliminarVenta(v.id)">Eliminar</button>-->
              </td>
            </tr>
          }
      </tbody>
  </table>
</div>
